* {
    margin: 0px;
    padding: 0px;
}
body {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjAwONkoOummWngGejgZ_GGTWBGLv1yltbCg&usqp=CAU');
    background-position: top;
    background-size: auto;
    background-repeat: repeat;
    width: 100%;
    height: 100%;
}
#container {
    background-color: white;
    height: 900px;
    width: 60%;
    margin: auto;
    margin-top: 8%;
    padding-left: 7%;
    padding-right: 7%;
}

h1 {
    font-family: Varela Round,arial,sans-serif;
    letter-spacing: 3px;
    line-height: 1.2cm;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    padding-top: 50px;
}

.nav {
    display: inline-block;
    margin: 1.5%;
}

#navigation {
    text-align: center;
    padding-top: 5%;
}

#navigation p {
    font-weight: bolder;
    font-family: sans-serif;
}

#title {
    margin-top: 5%;
    font-family: sans-serif;
    text-transform: uppercase;

}

.sm_icon {
    height: 30px;
    width: 30px;
    border: solid red 1px;
    display: inline-block;
}

#title > div {
    margin-left: 24%;
    margin-right: 0px;
}

#title h3, #title div {
    display: inline-block;
}